body{
    padding: 0px;
    background-color:rgb(22, 24, 28);
    color:white;
    scrollbar-color:rgb(62, 65, 68) rgb(22, 24, 28);
}
.card{
    background-color: rgba(19, 35, 47, 0.9);
    border-radius: 20px;
}
a{
    color:white;
    text-decoration: none;
}